// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #2979FF;
$light-blue: #40C4FF;
$yellow: #FFE074;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #F5F5F5;
$whiter: #FDFDFD;
