// Specific CSS for your home-page

body {
  // background-color: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  // height: 100vh;
  background-image: asset-url('backgroundImage.png');
  background-size: contain;
  background-position: center;
  background-size: cover;
}

/* HEADER */

.header-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 60%;
  width: 100vw;
  // padding-top: 0;
  // margin: 0;
  background-size: cover;
  background-position: center;
  height: 30vh;

}

.baseline-header {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-left: 15px;
}

.baseline-body {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding-left: 15px;
}

.image-dori {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  align-self: center;
  img {
    height: 130px;
    padding-left: 20px;

  }

}

h4 {
  color: #FFFFFF;
  font-weight: bold;
}

p {
  color: #EBEBF3;
  font-weight: lighter;
}

.btn-start {
  margin-top: 30px;
  padding-bottom: 50px;
}


/* BODY */

.container {
  padding: 0px;
}

.ariane-container {
  position: absolute;
  left: -2px;
  top: 180px;
  .ariane-item {
    background-color: white;
    padding: 6px 8px;
    border: 1px solid rgba(13, 92, 124,1);
    color: rgba(13, 92, 124,1);
    opacity: 0.2;
    box-shadow: -0.3px -0.8px 3px rgba(0, 0, 0, 0.4);
    width: 30px;
    font-size: 14px;
    text-align: center;
  }
  .ariane-item-active{
    background: -webkit-linear-gradient(top left, rgba(54, 134, 216, 0.94), #036ba2);
    background: -o-linear-gradient(top left, rgba(54, 134, 216, 0.94), #036ba2);
    background: linear-gradient(to bottom right, rgba(54, 134, 216, 0.94), #036ba2);
    padding: 6px 8px;
    border: 1px solid #0d5c7c;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 56px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
  }

  .ariane-last-item {
    border-bottom-right-radius: 5px;
  }
}

.btn-primary {
  margin-bottom: 40px;
}


/* VALUE PROPOSITION */

.proposition {
  background-image: asset-url('value-proposition-head.png');
  background-size: contain;

  p {
    color: #666E88;
  }

  p.strong {
    color: #394A7D;
  }


 // img {
 //  height: 100%;
 //  padding-left: 40px;
 //  //width: 100vw;
 // }
}

.proposition-container {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 30% 70%;
  padding-top: 6px;
}

.proposition-wave {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  padding-left: 30px;
  padding-top: 5px;
}

.proposition-text-one {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-top: 32px;
}

.proposition-text-two {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}

.proposition-text-three {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
}


/* SIGNIN ZONE */

.btn-google {
  padding-top: 20px;
}




