// Specific CSS for your home-page

body {
  // background-color: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  // height: 100vh;
  background-image: asset-url('backgroundImage.png');
}

/* HEADER */

.header-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 60%;
  width: 100vw;
  // padding-top: 0;
  // margin: 0;
  background-size: cover;
  background-position: center;
  height: 30vh;

}

.baseline-header {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-left: 15px;
}

.baseline-body {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding-left: 15px;
}

.image-dori {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  align-self: center;
  img {
    height: 130px;
    padding-left: 20px;

  }

}

h4 {
  color: #FFFFFF;
  font-weight: bold;
}

p {
  color: #EBEBF3;
  font-weight: lighter;
}

.btn-start {
  margin-top: 30px;
}

/* VALUE PROPOSITION */

.value-proposition-block {
  z-index: 10;
  margin-top: 40px;

img {
  width: 100%;
}
}






