/* BODY */

body {
  // background-color: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  // height: 100vh;
  background-image: linear-gradient(197deg, #0e287d, #04175e 54%, #0c5bc2 83%);
  background-size: contain;
  background-position: center;
  background-size: cover;
}

.container {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;

}

#et-plouf {
  height: 84px;
  margin-bottom: 30px;
  display: flex;
  padding-top: 20px;
  align-items: center;
  .btn-lg {
    padding: 10px 16px;
    width: 212px;
    font-size: 23px;
    line-height: 0.8;
    border-radius: 40px;
    background: none;
    height: 43px;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    padding-bottom: 10px;
    border: 2px solid white;
    box-shadow: 1px 1px 9px rgba(255,255,255,0.3), -1px -1px 9px rgba(255,255,255,0.3), inset 0px 0px 15px rgba(255,255,255,0.5);
    text-shadow: 0px 0px 18px rgba(255,255,255,0.8);
  }
}

.btn-primary {
  margin-bottom: 40px;
}

/* HEADER */

.header-container {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 40% 60%;
  width: 100vw;
  // padding-top: 0;
  // margin: 0;
  background-size: cover;
  background-position: center;

}

.baseline-header {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-top: 34px;
  padding-bottom: 10px;
  h4 {
    margin: 0px;
  }
}

.baseline-body {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-right: 5px;
}

.image-dori {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  align-self: center;
  img {
    width: 130px;
    padding-left: 15px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 36px;

  }

}

h4 {
  color: #FFFFFF;
  font-weight: bold;
}

p {
  color: #EBEBF3;
  font-weight: lighter;
}

.btn-start {

  margin-top: 30px;
  padding-bottom: 50px;
}

/* VALUE PROPOSITION */

.proposition {
  background-image: asset-url('value-proposition-head.png');
  background-size: cover;
  background-position: center;
  height: 250px;
  p {
    color: #666E88;
    line-height: 1.3;
    font-size: 14px;
    font-weight: normal;
  }

  p.strong {
    color: #394A7D;
    font-size: 14px;
    line-height: 1.3;
  }

.icon-midmenu {
  display: flex;
  justify-content: center;
  align-items: center;
}

  img {
    width:42px;
  }

 // img {
 //  height: 100%;
 //  padding-left: 40px;
 //  //width: 100vw;
 // }
}

#number-one {
  padding-top: 19px;
  padding-left: 6px;

}
#number-two {
  padding-left: 54px;
}
#number-three {
  padding-left: 26px;
}

.proposition-container {
  display: grid;
  grid-template-rows: 33% 33% 33%;
  grid-template-columns: 30% 70%;
  padding-top: 12px;
}

.proposition-wave {
  grid-row: 1 / span 3;
  grid-column: 1 / span 1;
  padding-left: 30px;
  padding-top: 5px;
}

.proposition-text-one {
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  padding-top: 32px;
  margin-left: -22px;
}

.proposition-text-two {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
  padding-top: 12px;
}

.proposition-text-three {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  padding-top: 12px;
  margin-left: -12px;
}


.space-between-80px{
  height: 80px;
  background-color: transparent;
}

.space-between-57px{
  height: 57px;
  background-color: transparent;
}


.testimonial-slider{
  background-image: asset-url('background-testimonials.png');
  background-size: cover;

  h4 {
    color: #3A4B7E;
  }

  p {
    color: #59637E;
  }
}

.testimonial-header {
  height: 66px;
  text-align: center;

  img {
   position: relative;
   top: -68px;
  }
}

.testimonial-body {
  margin-top: -10px;
  padding: 0 30px;

  h4 {
    text-align: center;
  }

  p {
    text-align: justify;
  }
}

/* css du footer dans components/footer */
