.status-open {
  color: #70E47D;
  font-weight: bolder;
}

.status-close {
  color: red
}

.profile-container {
  // background-image: linear-gradient(to bottom, #0088ff, #00f2fe, #00f2fe 48%, #0088ff 110%);
  // background-size: cover;
  z-index: -5;
  background: linear-gradient(to bottom, #2502d3, #006fff 24%, #006fff 51%, #2502d3 58%);
  background-size: cover;
  position: absolute;
  width: 100vw;
  top: 0px;
  // height: 100vh;
  background-blend-mode: overlay;
}

.profile-header {
  height: 94px;
  text-align: center;

  img {
    position: relative;
    top: 17px;
    width: 100px;
    height: 100px;
    border: 3px solid $white;
  }
}

.profile-id {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
  line-height: 5px;
  h3 {
    color: white;
    font-weight: bold;
  }

  p {
    color: white;
  }
}

.pools-tab {
  background-color: transparent;
  display: grid;
  grid-template-rows: 30% 10% 30% 30%;
  grid-template-columns: 50% 50%;
}

.program-tab {

  display: grid;
  grid-template-rows: 7% 35% 23% 5% 20% 5% 5%;
  grid-template-columns: 38% 62%;;
  width: 100%;
  margin-top: 15px;
  background: linear-gradient(to top, #2e3ed3, #046dfb 95%);
  h2 {
    font-size: 16px;
    color: white;
    margin: 0px;
    letter-spacing: 2px;
    font-family: "Roboto";
    font-weight: lighter;
    text-transform: uppercase;
  }
}



.avatar-big{
  height: 60px;
  width: 60px;
  border-radius: 50%;
}


.profile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $white;
  padding: 0px 50px;

}

.nav-piscines {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  opacity: 0.6;
  height: 47px;
  margin-top:10px;
  h4 {
    font-size: 16px;
    color: $white;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
  }
}

.nav-programme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  opacity: 0.6;
  height: 47px;
  margin-top:14px;
 h4 {
    font-size: 16px;
    color: $white;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
 }
}

.nav-active {
  border-bottom: 5px solid $white;
  opacity: 1;
  h4 {
    font-weight: bolder;
    font-family: "Montserrat Alternates", sans-serif !important;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

// ICI jusqu'à prochaine note : pour le premier Grid correspondant à pools

.titlemap {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  p {
    color: $white;
    font-size: 12px;
    margin: 0px;
  }
}

#map {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 33vh;
}

.status-bar-open {
  border: 3px solid $green;
  height: 200px;
}

.status-bar-close {
  border: 3px solid $red;
  height: 200px;
}

.space-between {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  background-color: transparent;
  height: 50px;
}


.pool-card-lg-1 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  box-shadow: 1px 1px 1px rgba(30, 30, 30, 0.3);
  border-radius: 5px;
  margin-bottom: 30px;
  margin-left: 25px;
  padding: 20px;
  height: 200px;
  width: 85%;
  background-image: linear-gradient(rgba(6, 63, 229, 0.85), rgba(4, 108, 250, 0.65)), url('http://www.pariszigzag.fr/wp-content/uploads/2013/11/ppailleron-nborel_028.jpg');
  background-size: cover;
  border: 2px solid white;
  h3 {
    color: $white;
    font-family: "Roboto";
    font-weight: normal;
    letter-spacing: 2px;

  }
  .address-pool {
    font-size: 11px;

  }
}


.pool-card-lg-2 {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  box-shadow: 1px 1px 1px rgba(30, 30, 30, 0.3);
  border-radius: 5px;
  margin-left: 25px;
  margin-right: -25px;
  padding: 20px;
  height: 200px;
  width: 85%;
  background-image: linear-gradient(rgba(6, 63, 229, 0.85), rgba(4, 108, 250, 0.65)), url(http://www.pariszigzag.fr/wp-content/uploads/2013/11/ppailleron-nborel_028.jpg);
  background-size: cover;
  border: 2px solid white;
  margin-bottom: 50px;
  h3 {
    color: $white;
    font-family: "Roboto";
    font-weight: normal;
    letter-spacing: 2px;

  }
  .address-pool {
    font-size: 11px;

  }
  .opening-hours {
    font-size: 12px;
  }
}

.card-status {
  position: relative;
  top: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: bolder;
  color: white;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}


// ICI : pour le second Grid correspondant à program

.program-level {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: bolder;
    font-family: "Rubik";
    color: $white;
    padding: 10px;
    margin: 0px;
  }
}

.program-days {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    p {
    font-size: 20px;
    font-weight: lighter;
    color: $white;
    padding: 10px;
    margin: 0px;
    }
  }
  .content-days {
    width: 80%;
    height: 100px;
    height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.program-hours-title {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  p {
    letter-spacing: 1px;
    font-size: 20px;
    font-family: "Rubik";
    font-weight: bolder;
    color: $white;
    padding: 0px;
    margin-bottom: 6px;
  }

}

.program-hours-days {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .row {
    p {
      color: $white;
      padding-bottom: 12px;
    }
    display: flex;
    margin: 0px;
    top: 0px;
    height: auto;
    .col-sm-12 {
      display: flex;
      align-items: center;
      p {
        padding-left: 19px;
        font-weight: lighter;
        letter-spacing: 2px;
        font-size: 16px;
        padding-bottom: 0px;
        margin: 0px;
        text-transform: uppercase;
      }
    }
  }
}

// .program-hours-details {
//   grid-row: 4 / span 1;
//   grid-column: 2 / span 1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 104px;
//   border: 1px solid grey;
// }

.program-pools-title {
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  h2 {
    font-size: 20px;
    font-family: "Rubik";
    font-weight: bolder;
    color: #F5F5F5;
    padding: 0px;
    text-transform: none;
  }
  p {
    font-size: 12px;
    font-weight: normal;
    color: grey;
    text-align: center;
    width: 70%;
  }
}

.closest-pool1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0px 50px;
  color: $white;
}

.pool-card-large {
  margin: 8px 0px;
  padding-bottom: 7px;
  margin: 8px 0px;
  padding-bottom: 7px;
  font-family: "Roboto";
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 16px;
}

// .pools-address-name {
//   grid-row: 6 / span 1;
//   grid-column: 1 / span 1;
//   display: flex;
//   align-items: right;
//   justify-content: center;
//   border: 1px solid grey;
//   height: 105px;
//   p {
//     font-size: 12px;
//     color: darkblue;
//   }
// }

.pools-address-details {
  grid-row: 6 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  p {
    font-size: 12px;
    color: grey;
    opacity: 0.9;
  }
  .row {
    p {
      color: $blue;
      padding-bottom: 12px;
    }
    display: flex;
    margin: 0px;
    flex-direction: column;

    .form-group {
      margin: 0px;
      display: flex;
      align-items: center;
      padding-top: 17px;
      textarea[placeholder] {
        font-size: 12px;
        color: red;
      }
      label {
        color: $blue;
        padding-right: 10px;
        font-weight: normal;
      }
      .form-control {
        height: 40px;
      }
    }

  }
}

.end-button {
  grid-row: 7 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 50px 0px;

}

.btn-create-program {
  font-size: 24px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  font-family: "Roboto";
  letter-spacing: 5px;
}

.placeholder-no-program {
  height: 120px;
}
