.profilePage {
  background-color: white;

}

.pools-tab {
  background-color: white;
  display: grid;
  grid-template-rows: 5% 30% 30% 5% 30% ;
  grid-template-columns: 1fr 1fr;
}

.program-tab {
  background-color: white;
  display: grid;
  grid-template-rows: 7% 35% 23% 5% 20% 5% 5%;
  grid-template-columns: 38% 62%;;
  position: absolute;
  top: 345px;
  width: 100%;
}



.profile-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  .round-pic-profile {
    width: 100px;
    height: 100px;
    color: grey;
    border: 1px solid grey;
    border-radius: 50%;
  }
}

.profile-id {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-top: 24px;
    padding-bottom: 24px;
    line-height: 5px;
  h4 {
    color: darkblue;
  }

  p {
    color: darkblue;
  }
}

.profile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid darkblue;
  padding: 0px 50px;

}

.nav-piscines {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  opacity: 0.6;
  height: 47px;
  margin-top:14px;
  h4 {
    font-size: 16px;
    color: darkblue;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
  }
}

.nav-programme {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  opacity: 0.6;
  height: 47px;
  margin-top:14px;
 h4 {
    font-size: 16px;
    color: darkblue;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
 }
}

.nav-active {
  border-bottom: 5px solid darkblue;
  opacity: 1;
  h4 {
    font-weight: bolder;
    font-family: "Montserrat Alternates", sans-serif !important;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

// ICI jusqu'à prochaine note : pour le premier Grid correspondant à pools

.titlemap {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px;
  p {
    color: darkblue;
    font-size: 12px;
    margin: 0px;
  }
}

.mapgoogle {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: grey;
  height: 33vh;
}

.closest-pool1 {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;

}

.closest-pool2 {
  grid-row: 3 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.status-bar {
  position: absolute;

}

.pool-content {
  box-shadow: 1px 1px 1px rgba(30, 30, 30, 0.3);
  padding: 10px;
  height: 180px;
  p {
    font-size: 12px;
    color: grey;
  }
  .title{

  }
  .address-pool {

  }
  .opening-hours {

  }
}

.fav-icon {
  position: absolute;
}

.title-favs {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    color: darkblue;
    font-size: 12px;
    margin: 0px;
  }

}

.fav-pool1 {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.fav-pool2 {
  grid-row: 5 / span 1;
  grid-column: 2 / span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}


// ICI : pour le second Grid correspondant à program

.program-level {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
    padding: 10px;
    margin: 0px;
  }
  .dropdown-levels {
  width: 200px;
  height: 30px;

  p {
    color: darkblue;
    font-weight: normal;
    font-size: 12px;
    opacity: 0.8;
  }
  .form-group {
    border: 1px solid darkblue;
    border-radius: 4px;
  }
  }
}

.program-days {
  grid-row: 2 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    p {
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
    padding: 10px;
    margin: 10px 0px 0px 0px;
    }
  }
  .content-days {
    width: 80%;
    height: 100px;
    height: 223px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.program-hours-title {
  grid-row: 3 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  p {
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
    padding: 12px;
  }

}

.program-hours-days {
  grid-row: 4 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .row {
    p {
      color: darkblue;
      padding-bottom: 12px;
    }
    display: flex;
    margin: 0px;
    .col-sm-12 {
      display: flex;
      align-items: center;
      .form-group {
        padding: 0px 0px 15px 25px;
        .form-control {
          height: 40px;
        }
      }
    }
  }
}

// .program-hours-details {
//   grid-row: 4 / span 1;
//   grid-column: 2 / span 1;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 104px;
//   border: 1px solid grey;
// }

.program-pools-title {
  grid-row: 5 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h4 {
    font-size: 14px;
    font-weight: bold;
    color: darkblue;
  }
  p {
    font-size: 12px;
    font-weight: normal;
    color: grey;
    text-align: center;
    width: 70%;
  }
}

// .pools-address-name {
//   grid-row: 6 / span 1;
//   grid-column: 1 / span 1;
//   display: flex;
//   align-items: right;
//   justify-content: center;
//   border: 1px solid grey;
//   height: 105px;
//   p {
//     font-size: 12px;
//     color: darkblue;
//   }
// }

.pools-address-details {
  grid-row: 6 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 16px;
  p {
    font-size: 12px;
    color: grey;
    opacity: 0.9;
  }
  .row {
    p {
      color: darkblue;
      padding-bottom: 12px;
    }
    display: flex;
    margin: 0px;
    flex-direction: column;

    .form-group {
      margin: 0px;
      display: flex;
      align-items: center;
      padding-top: 17px;
      textarea[placeholder] {
        font-size: 12px;
        color: red;
      }
      label {
        color: darkblue;
        padding-right: 10px;
        font-weight: normal;
      }
      .form-control {
        height: 40px;
      }
    }

  }
}

.end-button {
  grid-row: 7 / span 1;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 0px 50px 0px;

}


