#div-adresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 540px;
  background-position-y: 76%;
  background-size: cover;
  margin-top: 30px;
  padding-top: 20px;
}
