.go-back {
  position: absolute;
  left: 0px;
  top: 200px;
  background: -webkit-linear-gradient(top left, rgba(54, 134, 216, 0.94), #036ba2);
  background: -o-linear-gradient(top left, rgba(54, 134, 216, 0.94), #036ba2);
  background: linear-gradient(to bottom right, rgba(54, 134, 216, 0.94), #036ba2);
  padding: 6px 8px;
  border: 1px solid #0d5c7c;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 35px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;



  img {
    margin-bottom: 3px;
    margin-right: 3px;
  }
  // .ariane-item {
  //   background-color: white;
  //   padding: 6px 8px;
  //   border: 1px solid rgba(13, 92, 124,1);
  //   color: rgba(13, 92, 124,1);
  //   opacity: 0.2;
  //   box-shadow: -0.3px -0.8px 3px rgba(0, 0, 0, 0.4);
  //   width: 30px;
  //   font-size: 14px;
  //   text-align: center;
  // }

  // .ariane-last-item {
  //   border-bottom-right-radius: 5px;
  // }
}


.go-forward {
  position: absolute;
  right: 0px;
  top: 200px;
  background: -webkit-linear-gradient(top left, rgba(54, 134, 216, 0.94), #036ba2);
  background: -o-linear-gradient(top left, rgba(54, 134, 216, 0.94), #036ba2);
  background: linear-gradient(to bottom right, rgba(54, 134, 216, 0.94), #036ba2);
  padding: 6px 8px;
  border: 1px solid #0d5c7c;
  color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 35px;
  text-align: center;
  font-weight: bolder;
  font-size: 20px;


  img {
    margin-bottom: 3px;
    margin-left: 3px;
  }
}


.no-go {
  opacity: 0.1;
}
