.margin {
  margin-right: 0%;
  margin-left: 0%;
}

 #card-new {
    background: white;
    padding: 0px 20px 25px 20px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 50px;
    background-image: linear-gradient(to bottom right, rgb(0, 53, 189) 5%, rgb(56, 145, 251) 89%);
    background-size: cover;
    border: 2px solid $white;
    @media (min-width: 710px) {
      width: 400px;
    }
}

.blue-content {
  color: $white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  text-shadow: none;
}

#training_content {
  height: 106px;
  overflow: scroll;
  p {
    color: $white;
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
    height: 156px;
    text-shadow: none;
  }
}

#background_cards {
  background-image: asset-url('background-form.png');
  background-size: cover;
  background-position-y: 76%;
}


.card-title {
    color: $whiter;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;

}

#program_day {
  color: $whiter;
  font-weight: 550;
}

.row {
  height: 100px;
  position: relative;
  top: 24%;
}

#btn-finish-program {

}

.white-text {
  color: white;
}


.carousel-potition {
    position: relative;
    top: -7vh !important;
}

.carousel-control:hover {
  opacity: 0;
}

.glyphicon {
  font-size: 30px;
  color: $yellow;
  opacity: 1;
  top: 44% !important;
}

.carousel-control {
  background-image: none !important;
  opacity: 1;
  text-shadow: none;
  .glyphicon-chevron-left {
    left: 32%;
  }
  .glyphicon-chevron-right {
    right: 32%;
  }
}

.wrapper-cards {
  background: asset-url('swimmer-bg.jpg'), linear-gradient(to bottom, #2502d3, #006fff 75%);
  background-size: cover;
  background-blend-mode: overlay;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0px;
  text-align: center;

  @media (min-width: 710px) {
    background-size: initial;
    background-position: center;
    background-repeat: no-repeat;
  }

  .form-title {
    top: 9vh;
    padding-left: 12px;
    letter-spacing: 3px;

  }

  .export-to-google{
    height: 73px;
    width: 104vw;
    position: relative;
    top: 0px;
    right: 15%;
    @media (min-width: 710px) {
      display: flex;
      flex-direction: column;
    }
    a {
      text-decoration: none;
    }
    img {
      @media (min-width: 710px) {
        position: relative;
        left: 170px;
      }
    }

    .export-text {
      color: $yellow;
      position: absolute;
      bottom: 10.5%;
      right: 23%;
      font-size: 25px;
      text-align: right;
      text-decoration: none;
    }

    .yellow-arrow {
    }

  }

  .container {
    display: flex;
    flex-direction: column;
  }
}


#go-back4 {
    position: absolute;
    top: 137px;
    right: 81%;
}

.cardscapsule {
  margin-top: 228px;
  @media (min-width: 710px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
