.margin {
  margin-right: 0%;
  margin-left: 0%;
}

 #card-new {
    background: white;
    padding: 0px 20px 25px 20px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 107px;
    margin-top: 2px;
    border: 5px solid $yellow;
}

.blue-content {
  color: rgb(4, 23, 94);
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

#training_content {
  height: 150px;
  overflow: scroll;
  p {
    color: rgb(4, 23, 94);
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
  }
}

#background_cards {
  background-image: asset-url('background-form.png');
  background-size: cover;
  background-position-y: 76%;
}


.card-title {
    color: #2979ff;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin-top: 7px;

}

#program_day {
  color: #2979ff;
  font-weight: 550;
}

.center-program {
  padding-top: 15px;
}

.row {
  margin-top: 162px;
}

#btn-finish-program {

}

.white-text {
  color: white;
}

.export-text {
    color: #ffe074;
    position: relative;
    top: -112px;
    right: 45px;
    font-size: 27px;
    text-align: right;
    text-decoration: none;
}

.carousel-potition {
    position: relative;
    top: -7vh !important;
}

.yellow-arrow {
    vertical-align: middle;
    position: relative;
    top: -179px;
    right: -34px;
}

.wrapper-cards {
  background: asset-url('swimmer-bg.jpg'), linear-gradient(to bottom, #2502d3, #006fff 75%);
  background-size: cover;
  height: 124vh;
  background-blend-mode: overlay;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0px;
  text-align: center;
}
