#card-new {
  background: white;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.blue-content {
  color: rgb(4, 23, 94);
  font-size: 16px;
  font-weight: 400;
  text-align: justify;
}

#training_content {
  height: 150px;
  overflow: hidden;
  p {
    color: rgb(4, 23, 94);
    text-align: justify;
    font-size: 16px;
    font-weight: 300;
  }
}

.card-category {
  position: absolute;
  top: 10px;
  left: 27px;
  font-size: 11px;
  text-transform: uppercase;
  color: #2381d0;
}



#background_cards {
  background-image: asset-url('background-form.png');
  background-size: cover;
  background-position-y: 76%;
  height: 100vh;
}

.card-title {
  color: rgb(4, 23, 94);
  font-size: 17px;
  font-weight: bold;
  text-align: center;
}

#program_day {
  color: #131e5e;
  font-weight: 550;
}
