#div-jours {
  background: asset-url('swimmer-bg.jpg'), linear-gradient(#2502d3, #006fff 75%);
  background-size: cover;
  height: 100vh;
  background-blend-mode: overlay;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0px;
  .form-title {
    color: $white;
    font-size: 39px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 7px;
    position: relative;
    top: 10vh;
  }
  .form-group {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
  }
}



.category-choices {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-wrap: wrap;
  position: relative;
  width: 65vw;
  height: 207px;
  top: 17vh;
  -webkit-box-pack: center;
  justify-content: space-between;
}

.category-choice {
  flex: 0 45%;
  height: 35px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: lighter;
  color: #F5F5F5;
  border: 1px solid #F5F5F5;
  border-radius: 5px;
  letter-spacing: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  &.active {
    font-family: "Rubik", sans-serif;
    font-size: 19px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 3px;
    border-radius: 6px;
    color: #FFE074 !important;
    border: 4px solid #FFE074 !important;
  }
}


#go-forward2 {
  position: relative;
  top: 20%;
  right: 21%;
  input {
    font-size: 20px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;
    margin: 0px;
    position: absolute;
    top: -1px;
    left: 58%;
    letter-spacing: 4px;
  }
}
