.footer {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 52px;
  position: absolute;
  top: 37vh;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 2px solid $white;
  .dori-special-text {
    h2 {
      color: $white;
    }
    #do {
      font-size: 23px;
      margin: 0px;
    }
    #ri {
      font-size: 23px;
      margin: 0px;
      letter-spacing: 5px;
    }
  }
  .footer-content {
    display: flex;
    width: 76vw;
    padding: 6px 0px;
    .first-part {
      display: flex;
      flex-direction: column;
      line-height: 12px;
      font-size: 14px;
      /* padding: 6px; */
      padding: 0px 32px;
    }
    .second-part {
      display: flex;
      flex-direction: column;
      line-height: 12px;
      font-size: 14px;

    }

  }

  // background-color: white;
  // display: grid;
  // grid-template-rows: 25% 25% 25% 25%;
  // grid-template-columns: 25% 6% 1fr 1fr;
  // height: 22vh;
  // max-width: 100%;
  // overflow: hidden;
  // font-size: 11px;
  // padding: 20px;
  // color: #505F8B;
}

// .app-name-dori{
//   grid-row: 2 / span 1;
//   grid-column: 1 / span 1;
//   color: #505F8B;
//   font-size: 14px;
//   font-weight: bolder;
//   font-family: "Montserrat Alternates", sans-serif;
//   text-align: right;
//   padding-right: 10px;
// }

// .app-name-app{
//   grid-row: 3 / span 1;
//   grid-column: 1 / span 1;
//   color: #505F8B;
//   font-size: 14px;
//   font-weight: bolder;
//   font-family: "Montserrat Alternates", sans-serif;
//   text-align: right;
//   padding-right: 10px;
// }

// .wave{
//   grid-row: 1 / span 4;
//   grid-column: 2 / span 1;
//   opacity: 0.4;
// }

// .FAQ{
//   grid-row: 1 / span 1;
//   grid-column: 3 / span 1;
// }

// .why-dori{
//   grid-row: 2 / span 1;
//   grid-column: 3 / span 1;
// }

// .api{
//   grid-row: 3 / span 1;
//   grid-column: 3 / span 1;
// }

// .connexion{
//   grid-row: 4 / span 1;
//   grid-column: 3 / span 1;
// }

// .team{
//   grid-row: 1 / span 2;
//   grid-column: 4 / span 1;
// }

// .press{
//   grid-row: 3 / span 1;
//   grid-column: 4 / span 1;
// }

// .partners{
//   grid-row: 4 / span 1;
//   grid-column: 4 / span 1;
// }

