#div-heures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.jours {
  color: rgb(13, 92, 124);
  font-weight: bolder;
  text-align: center;
}

#text-address {
  color: rgba(3, 15, 62, 0.61);
  text-align: center;
}

#div-adresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
