#div-heures {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 540px;
  background-position-y: 76%;
  background-size: cover;
  margin-top: 30px;

  .form-title {
    left: 37%;
  }
}

.heures {
  .edit_program {
    position: relative;
    bottom: 75px;
  }
}
.container-form-heures {
  padding: 0px 0px 0px 50px;
  display: flex;
  textarea.form-control {
    height: 38px;
    text-align: center;
  }
  .form-group {
    padding: 12px 30px 10px 30px;
    .form-control {
      border: 1px solid rgba(37,138, 174, 0.3);
      -webkit-box-shadow: none;
      box-shadow: none;
      &:focus {
        box-shadow: 1px 1px 3px rgba(37, 138, 174, 0.2),
        -1px -1px 3px rgba(37, 138, 174, 0.2);
      }
    }
  }
  div:first-child {
    border-right: 1px solid rgba(13, 92, 124, 0.2);
  }
}

::placeholder { /* Most modern browsers support this now. */
   color: rgba(13, 92, 124, 0.35)!important;
   font-weight: normal!important;
   font-size: 20px;
   text-align: center;
}

.jours {
  color: rgb(13, 92, 124);
  font-weight: bolder;
  text-align: center;
  padding-left: 48px;
  padding-bottom: 11px;
  padding-top: 11px;
}

#text-address {
  color: rgba(3, 15, 62, 0.61);
  text-align: center;
}

#div-adresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
