#div-heures {
  background: asset-url('swimmer-bg.jpg'), linear-gradient(#2502d3, #006fff 75%);
  background-size: cover;
  height: 140vh;
  background-blend-mode: overlay;
  width: 100vw;
  z-index: -5;
  position: absolute;
  top: 0px;

  .form-title {
    color: $white;
    font-size: 39px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 7px;
    position: relative;
    top: 10vh;
  }
}

.heures {
  .edit_program {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 12vh;
    height: 100%;
    margin-top: 50px;
  }
}
.container-form-heures {
  display: flex;
  width: 80vw;
  .form-control {
    background: none;
    border: 1px solid #F5F5F5;
    border-radius: 5px;
    margin: 10px 11px;
    width: 250px;
    color: #F5F5F5;
    /* text-align: center; */
    display: flex;
    font-weight: lighter;
    &:focus {
      box-shadow: 1px 1px 3px rgba(37, 138, 174, 0.2),
      -1px -1px 3px rgba(37, 138, 174, 0.2);
    }
  }
  textarea.form-control {
  }
  .form-group {
    padding: 12px 30px 10px 30px;
  }
}

::placeholder { /* Most modern browsers support this now. */
   color: $white !important;
   font-weight: lighter !important;
   font-size: 20px;
   text-align: center;
   padding-top: 0px !important;
}

.jours {
  color: #F5F5F5;
  font-weight: bolder;
  text-align: center;
  font-size: 19px;
  font-family: "Rubik", sans-serif;
  letter-spacing: 2px;

}

.text-blue {
  color: rgba(3, 15, 62, 0.61);
  text-align: center;
}

#div-adresses {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#go-forward3 {
  position: absolute;
  top: 71vh;
}
