/* Main navbar */
.navbar-wagon {
    // height: 55px;
    // position: absolute;
    // right: 12px;
    // /* top: 0px; */
    // // width: 55px;
    // color: white;
    // font-size: 15px;
    // margin-top: 15px;
    // font-style: lighter;
    // /* font-weight: lighter; */
    justify-content: space-between;
    width: 100vw;
    height: 55px;
    position: absolute;
    display: flex;
    color: white;
    font-size: 15px;
    align-items: center;
}

.connected-menu {
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  left: 24px;
  a:first-child {
    padding-right: 25px;
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
}

/* User Avatar */
.navbar-wagon .avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Right section */
.connection {
  height: 30px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 24px;
  a {
    text-decoration: none;
    color: white;
    font-size: 15px;

  }
}

/* Basic navbar item */
.navbar-wagon-item {
  position: relative;
  top: 0px;
  right: 7px;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: $blue !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 23px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
}

.dropdown img {
  width: 30px;
}

.dropdown-menu-left {
  left: -110px;
  right: auto;
}

.dropdown-menu {
  top: 76%;
  padding: 3px 0;
  border: none;
}

.navbar-wagon-dropdown-menu-right {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu-right li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}

