#div-niveau {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#div-jours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#vingnettes-niveau {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.label-niveau {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
   }

.form-title {
  color: rgb(4, 23, 94);
}
