#div-niveau {
  background: asset-url('swimmer-bg.jpg'), linear-gradient(to bottom, #2502d3, #006fff 75%);
  background-size: cover;
  height: 100vh;
  background-blend-mode: overlay;
  width: 100vw;
  z-index: -1;
  position: absolute;
  top: 0px;
  .form-title {
    color: $white;
    font-size: 39px;
    font-family: "Rubik", sans-serif;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 7px;
    position: relative;
    top: 10vh;
  }
}

#div-jours {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-around;
  background-image: asset-url('background-form.png');
  background-size: cover;
  height: 540px;
  background-position-y: 76%;
  .form-title {
    // left: 37%;
  }
  .program_cards_builder {
    margin-top: 30px;
    padding-top: 70px;
  }
  .category-choices {
    position: relative;
    left: 19%;
  }
}

.arrow-submit {
  left: 41%;
  position: absolute;
  bottom: 56px;
}

#vingnettes-niveau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: 14vh;
  // justify-content: space-around;
}

.label-niveau {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-around;
  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 19px;
    font-weight: lighter;
    color: #F5F5F5;
    letter-spacing: 3px;
    border: 1px solid white;
    padding: 10px;
    width: 213px;
    text-align: center;
    border-radius: 6px;
  }
}

#casedebutant {

}

#caseintermediaire {

}

#caseexpert {

}


#new_program {
  position: absolute;
  bottom: 56px;
}

#fleche-bas {
  left: 0%;
  position: relative;
  bottom: -16%;
}

#fleche-bas2 {
  left: 41%;
  position: absolute;
  bottom: 8%;
}

.niveau-actif-debutant {

}

.texte-actif {

}

.niveau-actif-intermediaire {

}

.niveau-actif-expert {

}

#go-forward1 {
  position: relative;
  top: 21vh;
}
